:root {
  --white: #eeeded;

  --primary: #BA93DB;
  --primary-contrast: #a981ca;

  --primary-dark: #310654;
  --primary-dark-hover: #4d157a;

  --secondary: #D4B424;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: "Arial";
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  margin: 0px;
  background-color: var(--primary);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button,
option,
select {
  color: black;
}

p {
  text-align: justify;
}

.primary-button {
  cursor: pointer;
  transition: .2s;
}

.primary-button:hover{
  color: var(--white);
  background-color: var(--secondary);
}