@charset "utf-8";
/* CSS Document */

header {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--primary-dark);
  padding: 0 5vw;
}

header a {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

header a img {
  height: 80%;
  width: auto;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
}

.search input {
  padding: 4px;
  display: inline;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px white;
  border-style: solid;
  height: 60%;
}

.search input + input {
  margin-left: 4px;
  width: 35px;
}

#searchField {
  width: 20vw;
  max-width: 230px;
}

#searchButton {
  cursor: pointer;
}

.titleWrapper {
  padding: 11vh 0 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  display: none;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#botao_filmes {
    width: auto;
    height: 2em;
    border: 2px black;
    border-radius: 8px;
    border-style: solid;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    font-size: medium;
    transition: .4s;
}

#botao_filmes:hover{
  font-size: large;
  font-weight: 600;
  color: white;
  background-color: var(--secondary);
}

#content {
  justify-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 700px){
  #content {
    flex-direction: column;
    align-items: center;
  }
}

#content img {
  height: 60vh;
  width: auto;
}

h2 {
  margin: 0;
}

.textContent {
  width: 50vw;
  margin-left: 32px;
}

@media(max-width: 700px){
  .textContent {
    width: 85vw;
    margin-top: 16px;
  }

  #content img {
    width: 80vw;
    max-width: 50vh;
  }
}

footer {
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  background-color: var(--primary-dark);
  text-align: center;
  color: white;
  margin-top: 24px;
}

footer > div {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div a,
footer div h2 {
  width: 90%;
  transition: .6s ease;
}

footer div a h3 {
  color: var(--secondary);
}

footer div a:hover {
  opacity: .6;
}

footer img {
  height: 70%;
  width: auto;
  position: relative;
  right: 5vw;
}