body {
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 8px solid var(--primary-dark);
  border-radius: 16px;
  padding: 32px 4vw;
  min-width: 312px;
  margin: 64px 0;
}

.content > * + *{
  margin-top: 16px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons > * {
  width: 48%;
  min-width: 110px;
}

img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 32px;
}