body {
  justify-content: space-between;
  align-items: center;
}

.content > * + * {
  margin-top: 16px;
}

form button {
  width: 100%;
  margin-top: 64px !important;
}

form button + button {
  margin-top: 16px !important;
}
